<a href="https://colab.research.google.com/github/akshay-k13/Python-Beginner/blob/main/Python_Beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")

Hello

In [1]:
print('Single inverted quama') # Shift + Enter to run the code

Single inverted quama

In [2]:
print("python will understand that input in text based on single or double quotes")

python will understand that input in text based on single or double quotes

In [3]:
# Anything written after hash tag will be considered as text to add notes and will not be part of code while excecution

In [5]:
print(9) # for numbers there is no need of quotes

9

In [6]:
print(9, 'Nine') # two different data types can be printed together by using coma (int, "string")

9 Nine

In [8]:
print("9") #Number as string

9

In [11]:
print("Hello " + "World") # Concatination : we can user + symbol to add two strings

Hello World

In [12]:
print(1+9) # for numbers it will be mathematical additon and not concatination

10

In [13]:
print(10-1) #Substraction

9

In [14]:
print(10*10) #Multiplication

100

In [15]:
print(10/2) # Divition and result will be

5.0

In [16]:
print(10//2) #Divition and result will be int

5

In [18]:
Print("Hello") # Error as the python is case sensitive language

NameError: ignored

In [19]:
print("5+10") # numbers as text

5+10

In [20]:
print("5" + "10") #Concatination

510

In [22]:
print(9 + "10")  # mathematical operators will not combine two different data types

TypeError: ignored

In [37]:
#Home work
#try to combine all mathematical operations on int and string and combinations.
# +,-,*,/,// on string-string and string-int and int-int

# Int - All mathematical operators works

In [36]:

print(10+10)

20

In [24]:
print(10-10)

0

In [25]:
print(10*10)

100

In [27]:
print(10/10)

1.0

In [28]:
print(10//10)

1

In [29]:
# String - Only + operator works for concatinaton purpose other does not works

In [30]:
print("World" + "World")

WorldWorld

In [31]:
print("World" - "World")

TypeError: ignored

In [32]:
print("World" * "World")

TypeError: ignored

In [33]:
print("World" / "World")

TypeError: ignored

In [34]:
print("world" // "World")

TypeError: ignored

In [38]:
# Combination of Int and string - Only multiplication operator works for printing same times string value

In [40]:
 print("10"+ 10)

TypeError: ignored

In [41]:
print("10" - 10)

TypeError: ignored

In [42]:
print("10" * 10) # Works

10101010101010101010

In [44]:
print("10" / 10)

TypeError: ignored

In [45]:
print("10" // 10)

TypeError: ignored

In [46]:
# Compiled Language - Java, C++ ; First complile all lines in machine code and they will be excecuted
#Interpreted Language - Python, Java Script : code will exceuted be converted to machine code line by line

In [47]:
#IDE : mostly colab will be restricted as its a private site other wise company do not restrict using any site
#PyCharm
#VSCODE
#Jupyter Notebook/ JupyterLAB ( Same as colab however no need to connect internet)
#OOP - Object oriented programming ( Imp concept)

In [48]:
#Example: Its a simple one here we can add many codes to create a disctionary

Dictionary = {1:"One", 2:"Two", 3:"Three"}
print(Dictionary[2])

Two

In [50]:
print(Dictionary[3])

Three

In [51]:
print(Dictionary[1])

One

In [52]:
print(4, end = "")
print(5)

45

In [53]:
print(45)

45

In [54]:
print("4", end = "") # Using end funtion
print("5")

45

In [55]:
print(4,5)

4 5